<link rel="shortcut icon" href="images/favicon.ico">
<head>
    <title>Smart Bookshelf</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>

<!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="/">Smart Bookshelf<span id="by_name"> by KYJ</span></a></div>
        <a style="float:right" href="#menu">Menu</a>
    </header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/index">메인</a></li>
        <li><a href="/information">소개</a></li>
        <li><a href="/search">검색</a></li>
        <li><a href="/sendemail">문의사항</a></li>
    </ul>
</nav>
<style>
    @media screen and (max-width: 480px) {
        #by_name{
            display:none;
        }
    }
</style>