<!DOCTYPE HTML>
	<html>
		<%include includes/header.ejs%>
		<section id="One" class="wrapper style3">
			<div class="inner">
				<header class="align-center">
					<style>
						@media screen and (min-width: 480px) {
							#brs{
								display:none;
							}
						}
					</style>
					<div id="brs">
						<br>
					</div>
					<p>Introduce</p>
					<h2>소 개</h2>
				</header>
			</div>
		</section>
		<section id="two" class="wrapper style2">
			<div class="inner">
				<div class="box">
					<div class="content">
						<header class="align-center">
							<p>UIT LAB 421's</p>
							<h2>Smart Bookshelf</h2>
						</header>
						<p><img style="max-width: 100%;height: auto;display: table; margin-left: auto; margin-right: auto;" src="images/That.gif" alt="" /></p>
						<div style="color:black;">
							<p>&nbsp;현대의 디지털 사회에서 아날로그 방식은 점차 사라지고 있는 추세입니다. 그러나 아직은 많은 부분에서 아날로그 방식이 필요한 경우가 있습니다.
								유동인구가 많은 서점이나 도서관에서 책을 찾을 때 책의 위치는 디지털로 이루어진 데이터베이스에서 처리가 이루어지지만, 그 후에는 사람이 직접 책꽂이로 가서 책을 다시 찾아야 하는 번거로움이 있습니다.</p>
							<p>&nbsp;이를 해결하기 위하여 책장에 자동화 시스템을 접목시켜 검색버튼을 누르는 순간 책의 위치를 검색하여 원하는 서적을 빠르게 얻을 수 있지 않을까? 라는 생각을 착안하여 이 제품을 만들게 되었습니다.
								사용하는 방법은 간단하게, 사용자가 메인 컴퓨터에서 책을 검색하면 책이 있는 책장의 위치를 검색하여 알려주고, 그 책장에서는 바로 식별할 수 있는 LED를 부착하여 바로 확인 할 수 있게끔 만들었습니다.
								이 제품은 유동인구가 많고 책의 양이 많은 장소인 서점이나 도서관에서 주로 이용될 것으로 생각됩니다.</p>
							<br>
							<p>&nbsp;Python, Raspberry Pi(Linux), Arduino, Nodejs(express js), Mysql(DataBase)으로 개발하였습니다.</p>
						</div>

					</div>
				</div>
			</div>
		</section>
		<%include includes/footer.ejs%>
	</body>
</html>